@import url('http://getbootstrap.com/dist/css/bootstrap.css');
 html, body, .container-table {
    height: 100%;
    font-family:"roboto","Noto Sans KR",serif;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.navbar-header{
    padding-left: 15px;
}
#header{
    font-weight: 800;font-size: 30;
}
